@model SchoolRegister.Models.ViewModels.CreateStudentViewModel
@{
    Layout = "_Layout";
}
<h2>Adding new student to class : <strong>@Model.SchoolClassName</strong></h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="@Model.Name" class="form-label"></span>
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="@Model.Surname" class="form-label"></span>
        <label asp-for="@Model.Surname"></label>
        <input asp-for="@Model.Surname"/>
    </div>
    <input type="hidden" asp-for="@Model.SchoolClassId"/>
    <input type="hidden" asp-for="@Model.SchoolClassName"/>
    <input type="submit" value="Confim" class="btn-info"/>
</form>