@model IEnumerable<SchoolRegister.Models.SchoolClass>
@{
    Layout = "_LayoutAdmin";
}

<h2>Class list</h2>
<a class="btn btn-info" asp-controller="Admin" asp-action="CreateSchoolClass">Add class</a>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Student Count</th>
        <th scope="col">Subject Count</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var schoolClass in Model) {
        <tr>
            <th scope="row">@schoolClass.Name</th>
            <td>@schoolClass.StudentsList.Count</td>
            <td>@schoolClass.SubjectList.Count</td>
            <td class="d-flex gap-2">
                <a class="btn btn-info flex-fill" asp-action="CreateStudent" asp-route-schoolClassId="@schoolClass.Id">Add student</a>
                <a class="btn btn-info flex-fill" asp-action="SchoolClassView" asp-route-schoolClassId="@schoolClass.Id">View</a>
                <a class="btn btn-warning flex-fill" asp-action="EditSchoolClass" asp-route-schoolClassId="@schoolClass.Id">Edit</a>
                <a class="btn btn-danger flex-fill" asp-action="DeleteSchoolClass" asp-route-schoolClassId="@schoolClass.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>