@model List<SchoolRegister.Models.ViewModels.SubjectElementViewModel>
@{
    int index = 1;
}

<h2>Subject list</h2>
<a class="btn btn-info mb-3" asp-controller="Admin" asp-action="Add">Add subject</a>
<table class="table table-sm table-bordered table-hover">
    <thead>
    <tr>
        <th>Number</th>
        <th scope="col">Name</th>
        <th>Student count</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subject in Model) {
        <tr>
            <td>@index</td>
            <td>@subject.Subject.Name</td>
            <td>@subject.StudentCount</td>
            <td class="d-flex gap-2">
                <a class="btn btn-outline-warning flex-fill" asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Subject.Id">Edit</a>
                <a class="btn btn-outline-danger flex-fill" asp-controller="Subject" asp-action="Delete" asp-route-id="@subject.Subject.Id">Delete</a>
            </td>
        </tr>
        index++;
    }
    </tbody>
</table>