@model SchoolRegister.Models.ViewModels.TeacherStudentSubjectViewModel

<link rel="stylesheet" href="~/css/grades.css"/>
<script src="~/js/grades.js"></script>

<h2>Class : @Model.ClassName</h2>
<h2>Subject : @Model.SubjectName</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Grades</th>
        <th>Action</th>
    </tr>
    @foreach (var studentSubject in Model.StudentSubjects) {
        <tr>
            <td>@studentSubject.Student.Name @studentSubject.Student.Surname</td>
            <td>
                @foreach (var grade in studentSubject.Grades) {
                    <a id="grade" class="btn" asp-controller="Student" asp-action="GradeView" asp-route-gradeId="@grade.Id">@grade.GetGradeName()</a>
                }
            </td>
            <td class="d-flex">
                <a class="btn btn-success flex-fill" asp-controller="Teacher" asp-action="AddGrade" asp-route-studentSubjectId="@studentSubject.Id">Add grade</a>
            </td>
        </tr>
    }
</table>
