@model IEnumerable<SchoolRegister.Models.ViewModels.Teachers.TeacherViewModel>
@{
    int index = 1;
}

<h2>Teacher list</h2>
<a class="btn btn-info mb-3" asp-action="Add">Add teacher</a>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Class count</th>
        <th>Subject count</th>
        <th>All subjects</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var teacher in Model) {
        <tr>
            <td>@index</td>
            <td>@teacher.Name</td>
            <td>@teacher.Surname</td>
            <td>@teacher.ClassCount</td>
            <td>@teacher.SubjectCount</td>
            <td>@teacher.SchoolSubjectCount</td>
            <td class="d-flex gap-2">
                <a class="btn btn-info flex-fill" asp-controller="Teacher" asp-action="View" asp-route-id="@teacher.Id">View</a>
                <a class="btn btn-info" asp-controller="Admin" asp-action="CreateSchoolSubject" asp-route-id="@teacher.Id">Assign subjects</a>
                <a class="btn btn-warning flex-fill" asp-controller="Teacher" asp-action="Edit" asp-route-id="@teacher.Id">Edit</a>
                <a class="btn btn-danger flex-fill" asp-controller="Teacher" asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
            </td>
        </tr>
        index++;
    }
    </tbody>
</table>