@model Data.ViewModels.Teachers.TeacherViewModel

<p>Teacher View</p>
<h2>@Model.Name @Model.Surname</h2>
<p>Class count : @Model.ClassCount</p>
<p>Subject count : @Model.SubjectCount</p>
<p>All subjects count : @Model.SchoolSubjectCount</p>
<hr/>
<p class="text-dark fw-bold" style="font-size: 1.2em">Classes</p>
@if (Model.TeachingClassList.Any()) {
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Class name</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var teachingSubject in Model.TeachingClassList) {
            <tr>
                <td>@teachingSubject.ClassName</td>
                <td>@teachingSubject.SubjectName</td>
            </tr>
        }
        </tbody>
    </table>
}
else {
    <p>Teacher has not got any class teaching</p>
}