@model SchoolRegister.Models.ViewModels.SchoolSubjectViewModel

<h2>Add subject and class to teacher : @Model.TeacherName @Model.TeacherSurname</h2>
<form method="post">
    <input asp-for="SchoolClassList" hidden/>
    <input asp-for="SubjectList" hidden/>
    <input asp-for="TeacherId" hidden/>
    <input asp-for="TeacherName" hidden/>
    <input asp-for="TeacherSurname" hidden/>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="SubjectId"></label>
        <select asp-for="SubjectId" id="subject-input">
            @foreach (var subject in Model.SubjectList) {
                <option value="@subject.Id">@subject.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="SelectedClassIds"></label>
        <select asp-for="SelectedClassIds" id="class-input">
            @foreach (var schoolClass in Model.SchoolClassList) {
                <option value="@schoolClass.Id">@schoolClass.Name</option>
            }
        </select>
    </div>
    <input class="btn btn-info" type="submit" value="Confirm"/>
</form>

@section Scripts {
    <script>
        $('#subject-input').selectize({
            maxItems: 1
        })

        $('#class-input').selectize({
            plugins: ['remove_button'],
            delimiter: ','
        })
    </script>
}