@model IEnumerable<SchoolRegister.Models.ViewModels.AnnouncementViewModel>

<h2>Announcements</h2>
@if (User.IsInRole("Teacher")) {
    <div class="mb-3">
        <a class="btn btn-success" asp-controller="Announcements" asp-action="YourAnnouncements">Your announcements</a>
        <a class="btn btn-success" asp-controller="Announcements" asp-action="Add">Add announcement</a>
    </div>
}

@foreach (var announcement in Model) {
    <div class="card mb-3">
        <div class="card-header d-flex">
            <h5 class="m-auto p-2">@announcement.Title</h5>
            <h6 class="p-2">@announcement.CreateDate</h6>
            <h6 class="p-2">@announcement.TeacherName @announcement.TeacherSurname</h6>
        </div>
        <div class="card-body">
            <p class="card-text text-center">@announcement.Description</p>
        </div>
    </div>
}
