@model IEnumerable<SchoolRegister.Models.Announcement>

<h2 class="text-center mb-5">Your announcements</h2>
@foreach (var announcement in Model) {
    <div class="card mb-3">
        <div class="card-header d-flex">
            <h5 class="m-auto p-2">@announcement.Title</h5>
            <h6 class="p-2">@announcement.CreateDate</h6>
            <h6 class="p-2">@announcement.Teacher.User.Name @announcement.Teacher.User.Surname</h6>
        </div>
        <div class="card-body">
            <p class="card-text text-center">@announcement.Description</p>
        </div>
        <div class="card-footer d-flex flex-row-reverse gap-3">
            <a class="btn btn-danger p-2 w-25" asp-controller="Announcements" asp-action="Delete" asp-route-id="@announcement.Id">Delete</a>
            <a class="btn btn-warning p-2 w-25" asp-controller="Announcements" asp-action="Edit" asp-route-id="@announcement.Id">Edit</a>
        </div>
    </div>
}